[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
importlib-metadata = "*"
importlib-resources = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
